Host jupyterhub-<ID>
    HostName localhost
    User jupyterhub
    IdentityFile <DIR>/<ID>/keypairs/devel
    Port 2222
    LogLevel ERROR
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no

Host tunnel-<ID>
    HostName localhost
    User tunnel
    IdentityFile <DIR>/<ID>/keypairs/devel
    Port 2223
    LogLevel ERROR
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no

Host unicoremgr-<ID>
    HostName localhost
    User unicoremgr 
    IdentityFile <DIR>/<ID>/keypairs/devel
    Port 2224
    LogLevel ERROR
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no

Host k8smgr-<ID>
    HostName localhost
    User k8smgr
    IdentityFile <DIR>/<ID>/keypairs/devel
    Port 2225
    LogLevel ERROR
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
