  - host: <SVC_NAME>-<ID>.<NAMESPACE>.svc
    http:
      paths:
      - backend:
          service:
            name: <SVC_NAME>-<ID>
            port:
              number: 8080
        path: /
        pathType: Prefix
